/* Estilos Historia del Club */

.historia-del-club-sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
}

.section-fundacion {
    grid-column: span 2;
    max-width: 100%;
}

@media (max-width: 768px) {
    .historia-del-club-sections {
        display: flex;
        flex-wrap: wrap;
    }
}